table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #030303;
    padding: 8px;
    text-align: center;
    background-color: rgba(97, 209, 231, 0.502);
}

th {
    background-color: #f6d339c9;
}